@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
}
.main__body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease 0s;
    &-visible{
        transform: translateY(-100%);
        transition: all 1.5s ease 0s;
    }
}
.return__btn{
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    transition: all 1.5s ease 0s;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    & img{
        width: 100%;
    }
    @media (max-width: 992px){
        &{
            width: 7vw;
        }
    }
    @media (max-width: 767px){
        &{
            width: 15vw;
        }
    }
}
.return__btn-visible{
    opacity: 1;
    transition: all 1.5s ease 0s;
}